@model Seminari.Models.Predavac

@{
    ViewData["Title"] = "Delete";
}

<h4>Želiš li obrisati ovog predavača?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPredavac" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Natrag</a>
    </form>
</div>
